@import "../../styles/style.scss";

.ui-table-default {
  // margin-top: 20;
}

.ui-table-md {
  font-size: rem(20);
  th {min-width: rem(120);}
  th, td {padding: rem(6) 0;}
  td {padding-left: rem(32)}
}

@media (max-width: 767px) {
  .ui-table-md {
    font-size: rem(14);
    th {min-width: rem(88);}
    th, td {padding: rem(4) rem(0);}
    td {
      padding-left: rem(0);
    }
  }
}

.ui-table-left { text-align: left;}
.ui-table-center {text-align: center;}
.ui-table-right {text-align: right;}