@import "../../styles/utils/function";

// 팝업 관련 스타일
/* popupOverlay */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* popupContent */
.popupContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 1000px;
  text-align: center;
.content {
  img{width: 100%;}
  height: 500px;
  overflow-y: scroll;
}
 button {

 }
}
