@import "../../styles/style.scss";

.ui-header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  transition: "top 0.5s ease-in-out";
  z-index: 100;
  font-size: toRem(30);
  a {
    color: #3f89e6;
    font-family: 'Bagel fat one';
    text-decoration: none;
  }
}

// size
.ui-header-md {
  padding: toRem(36) toRem(24);
}
.ui-header-lg {
  padding: toRem(40) toRem(32);
}

.items {
  display: flex;
  .item {
    transition: 0.5s;
    &:hover {
      scale: 1.3;
    }
    & + .item {
      margin-left: toRem(28);
    }
  }
}

@media (max-width: 767px) {
  .ui-header-md {
    padding: toRem(36) toRem(20);
  }
  .ui-header-lg {
    padding: toRem(40) toRem(24);
  }
  .items {
    display: block;
    .item {
      transition: none;
      &:hover {
        scale: 1;
      }
      & + .item {
        margin-left: toRem(0);
        margin-bottom: toRem(4);
      }
    }
  }
}