@import "../../styles/utils/function";

.ui-badge {
  display: inline-block;
  // border-radius: 24px;
}

/** variant **/
.ui-badge-solid {
}
.ui-badge-line {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/** bgColor **/
.ui-badge-navy {
  color: #fff;
  background-color: #160b43;
}
/** size **/
.ui-badge-sm {
  padding: toRem(2) toRem(4);
  margin-left: 8px;
  border-radius: toRem(2);
  font-size: toRem(12);
}

.ui-badge-md {
  padding: toRem(8);
  margin-left: toRem(8);
  border-radius: toRem(4);
  font-size: toRem(16);
}
@media (max-width: 479px) {
  .ui-badge-md {
    padding: toRem(4);
    margin-left: toRem(4);
    border-radius: toRem(2);
    font-size: toRem(12);
  }
}