@import "../../styles/utils/function";

.ui-badge {
  display: inline-block;
}

/** variant **/
.ui-badge-solid {
}
.ui-badge-line {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/** bgColor **/
.ui-badge-navy {
  color: #fff;
  background-color: #160b43;
}
/** size **/
.ui-badge-sm {
  padding: rem(2) rem(4);
  // margin-left: 8px;
  border-radius: rem(2);
  font-size: rem(12);
}
.ui-badge-sm + .ui-badge-sm {margin-left: rem(8);}
.ui-badge-md {
  padding: rem(8);
  margin-left: rem(8);
  border-radius: rem(4);
  font-size: rem(16);
}
@media (max-width: 767px) {
  .ui-badge-md {
    padding: rem(4);
    margin-left: rem(4);
    border-radius: rem(2);
    font-size: rem(12);
  }
}