.ui-badge {
  display: inline-block;
  // border-radius: 24px;
}

/** variant **/
.ui-badge-solid {
}
.ui-badge-line {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/** bgColor **/
.ui-badge-navy {
  color: #fff;
  background-color: #160b43;
}
/** size **/
.ui-badge-sm {
  padding: 2px 4px;
  & + span {
    margin-left: 8px;
    border-radius: 4px;
  }
}
.ui-badge-md {
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;

  & + span {
    margin-left: 8px;
  }
}
