.ui-text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

/* Variants */
.ui-text-mainTitle {
  font-family: "Tenada";
  font-size: 80px !important;
}
.ui-text-contentTitle {
  display: inline-block;
  font-family: "Tenada";
  font-size: 60px !important;
  margin: 0 0 48px 0;
}

/* Sizes */
.ui-text-xxs {
  font-size: 12px;
}
.ui-text-xs {
  font-size: 16px;
}
.ui-text-sm {
  font-size: 20px;
}
.ui-text-md {
  font-size: 24px;
}
.ui-text-lg {
  font-size: 28px;
}
.ui-text-xl {
  font-size: 32px;
}
.ui-text-xxl {
  font-size: 36px;
}

/* opacity */
.ui-text-10 {
  opacity: 10%;
}
.ui-text-20 {
  opacity: 20%;
}
.ui-text-30 {
  opacity: 30%;
}
.ui-text-40 {
  opacity: 40%;
}
.ui-text-50 {
  opacity: 50%;
}
.ui-text-60 {
  opacity: 60%;
}
.ui-text-70 {
  opacity: 70%;
}
.ui-text-80 {
  opacity: 80%;
}

/* 모바일 세로 (0px ~ 479px) */
@media (max-width: 479px) {
  body {
    /* Variants */
    .ui-text-mainTitle {
      font-family: "Tenada";
      font-size: 48px !important;
    }
    .ui-text-contentTitle {
      display: inline-block;
      font-family: "Tenada";
      font-size: 36px !important;
      margin: 0 0 48px 0;
    }
    .ui-text-header-xl {
      font-size: 44px;
    }
    .ui-text-header-lg {
      font-size: 32px;
      // margin-bottom: 0px;
    }
    .ui-text-header-md {
      font-size: 28px;
    }

    /* Sizes */
    .ui-text-xxs {
      font-size: 11px;
    }
    .ui-text-xs {
      font-size: 14px;
    }
    .ui-text-sm {
      font-size: 16px;
    }
    .ui-text-md {
      font-size: 20px;
    }
    .ui-text-lg {
      font-size: 20px;
    }
    .ui-text-xl {
      font-size: 32px;
    }
    .ui-text-xxl {
      font-size: 36px;
    }
  }

  .ui-content {
    font-size: 62.5% !important;
  }
}

/* 모바일 가로 & 테블릿 세로 (480px ~ 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: blue;
    h3 {
      // font-size: calc(16px / 16px * 1rem) !important;
      // font-size: 62.5% !important;
      // @include fontSize(36px);
    }
  }
}

/* 테블릿 가로 & 노트북 (768px ~ 1279px) */
@media (min-width: 768px) and (max-width: 1279px) {
  body {
    background-color: red;
  }
}

/* 데스크톱 (1280px ~ ) */
@media (min-width: 1280px) {
}

/* Weights */
.ui-text-normal {
  font-weight: 400;
}
.ui-text-medium {
  font-weight: 500;
}
.ui-text-bold {
  font-weight: 700;
}

// color
.ui-text-white {
  color: #fff;
}
.ui-text-blue {
  color: #3e8ae3;
}

// font
.ui-text-tenada {
  font-family: "Tenada";
}

/**** UIText.Header ****/
.ui-text-header {
  font-family: "Tenada";
}

// size
.ui-text-header-xl {
  font-size: 80px;
  margin-bottom: 48px;
}
.ui-text-header-lg {
  font-size: 60px;
  margin-bottom: 48px;
}
.ui-text-header-md {
  font-size: 48px;
}

// color
.ui-text-header-white {
  color: #fff;
}

.header {
}
// .headerButton {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   a {
//     font-size: 20px;
//     text-decoration: none;
//     color: #111;
//     position: relative;
//     padding-right: 30px;
//     &::after {
//       content: "";
//       display: inline-block;
//       background-image: url("../../assets/images/icons/ico-arrow-r.png");
//       width: 20px;
//       height: 20px;
//       background-size: 20px 20px;
//       background-repeat: no-repeat;
//       position: absolute;
//       top: -3px;
//       right: 0;
//     }
//     &:hover {
//       margin-top: -18px;
//     }
//   }
// }

// align
.ui-text-align-left {
  text-align: left;
}
.ui-text-align-center {
  text-align: center;
}
.ui-text-align-right {
  text-align: right;
}

// display
.ui-text-block {
  display: block;
}
.ui-text-inline {
  display: inline;
}
.ui-text-inline {
  display: inline;
}
