@import "../../styles/style.scss";

.ui-text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

/* Variants */
.ui-text-mainTitle {
  font-family: "Tenada"; 
  font-size: 80px !important;
}
.ui-text-contentTitle {
  display: inline-block;
  font-family: "Tenada";
  font-size: 60px !important;
  margin: 0 0 48px 0;
}

/* Sizes */
.ui-text-xxs {font-size: rem(12);}
.ui-text-xs {font-size: rem(16);}
.ui-text-sm {font-size: rem(20)}
.ui-text-md {font-size: rem(24);}
.ui-text-lg {font-size: rem(28)}
.ui-text-xl {font-size: rem(32);}
.ui-text-xxl {font-size: rem(36)}


@media (max-width: 767px) {
  .ui-text-xxs {font-size: rem(11);}
  .ui-text-xs {font-size: rem(12);}
  .ui-text-sm {font-size: rem(14);}
  .ui-text-md {font-size: rem(16);}
  .ui-text-lg {font-size: rem(20);}
  .ui-text-xl {font-size: rem(28);}
  .ui-text-xxl {font-size: rem(32)}
}


/* opacity */
.ui-text-10 {opacity: 10%;}
.ui-text-20 {opacity: 20%;}
.ui-text-30 {opacity: 30%;}
.ui-text-40 {opacity: 40%;}
.ui-text-50 {opacity: 50%;}
.ui-text-60 {opacity: 60%;}
.ui-text-70 {opacity: 70%;}
.ui-text-80 {opacity: 80%;}

/* Weights */
.ui-text-normal {font-weight: 400;}
.ui-text-medium {font-weight: 500;}
.ui-text-bold {font-weight: 700;}

// color
.ui-text-white, .ui-text-header-white {color: #fff;}
.ui-text-blue, .ui-text-header-blue {color: #3e8ae3;}

// font
.ui-text-tenada {font-family: "Tenada";}

/**** UIText.Header ****/
.ui-text-header {font-family: "Tenada";}

// size
.ui-text-header-xl {
  font-size: rem(80);
  // margin-bottom: rem(48);
}
.ui-text-header-lg {
  font-size: rem(60);
  margin-bottom: rem(48);
}
.ui-text-header-md {
  font-size: rem(48);
  margin-bottom: rem(24);
}

// color
.ui-text-header-white {
  color: #fff;
}

.ui-text-header:has(a) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-text-header a {
  font-size: rem(20);
}

// align
.ui-text-align-left {text-align: left;}
.ui-text-align-center {text-align: center;}
.ui-text-align-right {text-align: right;}

// display
.ui-text-block {display: block;}
.ui-text-inline {display: inline;}
.ui-text-inline {display: inline;}

.linkTo {font-size: rem(20);}

@media (max-width: 767px) {
  body {
    /* Variants */
    .ui-text-mainTitle {
      font-family: "Tenada";
      font-size: rem(48) !important;
    }
    .ui-text-contentTitle {
      display: inline-block;
      font-family: "Tenada";
      font-size: rem(36) !important;
      margin: 0 0 48px 0;
    }
    .ui-text-header-xl {
      font-size: 44px;
    }
    .ui-text-header-lg {
      font-size: 32px;
      // margin-bottom: 0px;
    }
    .ui-text-header-md {
      font-size: rem(28);
      margin-bottom: rem(20);
      &+.ui-text-header-md:first-child{margin-bottom: 0;}
    }
    .ui-text-header-sm {font-size: rem(24);}
    /* Sizes */
    .ui-text-xxs {font-size: rem(11);}
    .ui-text-xs {font-size: rem(14);}
    .ui-text-sm {font-size: rem(16);}
    .ui-text-md {font-size: rem(20);}
    .ui-text-lg {font-size: rem(24);}
    .ui-text-xl {font-size: rem(28);}
    .ui-text-xxl {font-size: rem(32);}
  }
}