// pc 모드일때 width 값은 최대 1080px
body {
  // max-width: 1080px;
  // width: 100%;
  // margin: 0px auto;
}

// helper class
/** margin **/
$margin-sizes: 4px, 8px, 12px, 16px, 20px;

@each $size in $margin-sizes {
  .mt-#{index($margin-sizes, $size)} {
    margin-top: $size;
  }
  .mb-#{index($margin-sizes, $size)} {
    margin-bottom: $size;
  }
  .ml-#{index($margin-sizes, $size)} {
    margin-left: $size;
  }
  .mr-#{index($margin-sizes, $size)} {
    margin-right: $size;
  }
}
