@import "../../styles/style.scss";

.swiper {
  overflow: visible !important;
}

.swiper-custom {
  display: none !important;
}

// 데스크탑 1280px ~
.slideItem {
  width: 750px;
  padding: toRem(30) toRem(40);
  border: 3px solid #111;
  border-radius: 40px;
  background-color: #ccc !important;
  img {
    width: 650px;
    height: 380px;
    background: #eee;
    border-radius: 28px;
    object-fit: cover;
  }
  h3 {
    font-family: "tenada";
    font-size: toRem(48);
    // @include fontSize(48px, 500);
    margin-top: -28px;
    & + p {
      font-family: "tenada";
      font-size: toRem(36);
    }
  }
}

/* 모바일 세로 (0px ~ 320px, 479px) */
@media (max-width: 479px) {
  .slideItem {
    padding: toRem(28) toRem(16);
    img {
      width: 80vw;
      height: toRem(250);
    }
    h3 {
      font-size: toRem(30);
      margin-top: toRem(-16);
      & + p {
        font-size: toRem(20);
      }
    } 
  }
}

/* 모바일 가로 & 테블릿 세로 (480px ~ 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    .slideItem {
      padding: toRem(28) toRem(24);
      img {
        width: 78vw;
      }
      h3 {
        font-size: toRem(36);
        margin-top: -28px;
        & + p {
          font-size: toRem(24);
        }
      } 
    }
}

/* 테블릿 가로 (768px ~ 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    .slideItem {
      img {
        width: 54vw;
      }
      h3 {
        font-size: toRem(40);
        margin-top: -28px;
        & + p {
          font-size: toRem(32);
        }
      } 
    }
    
  }
}


/* 테블릿 가로 & 노트북 (1024px ~ 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  body {
    .slideItem {
      img {
        width: 54vw;
      }
      h3 {
        font-size: toRem(40);
        margin-top: -28px;
        & + p {
          font-size: toRem(32);
        }
      } 
    }
  }
}


// UISwiper.Box slide bgColor
.ui-swiper-red {background-color: #E41201 !important;}
.ui-swiper-yellow {background-color: #FED500 !important;}
.ui-swiper-gray {background-color: #BEBEBE !important;}
.ui-swiper-light-blue {background-color: #20C4F4 !important;}
.ui-swiper-green {background-color: #35B659 !important;}
.ui-swiper-brown {background-color: #766554 !important;}
.ui-swiper-red {background-color: red !important;}
.ui-swiper-red {background-color: red !important;}

// UITitleColor
.ui-title-color-purple {color: #5815A5;}
.ui-title-color-green {color: #0C5B00;}
.ui-title-color-black {color: #000000;}
.ui-title-color-blue {color: #0067AC;}
.ui-title-color-yellow {color: #FFC20D;}