


.ui-swiper-type1 {
  .swiper-box  {
    h3 {
      color: aqua !important;
    }
    width: 500px;
    border: 1px solid #111 !important;
    background-color: #eee;
  }

 

}

.slideItem {
  width: 500px;
  background-color: red !important;
}
