
<<<<<<< HEAD
.swiper-custom {
  display: none !important;
=======


.ui-swiper-type1 {
  .swiper-box  {
    h3 {
      color: aqua !important;
    }
    width: 500px;
    border: 1px solid #111 !important;
    background-color: #eee;
  }

 

>>>>>>> parent of f262704 (UISwiper component props 수정 중)
}

// .swiper {
//   // overflow: visible !important;
// }

.slideItem {
<<<<<<< HEAD
  width: 750px;
  padding: 30px 40px;
  border: 3px solid #111;
  border-radius: 40px;
  background-color: #ccc !important;
  img {
    width: 600px;
    height: 380px;
    background: #eee;
    border-radius: 28px;
  }
  h3 {
    font-family: "tenada";
    font-size: 48px;
    margin-top: -28px;
    & + p {
      font-family: "tenada";
      font-size: 36px;
    }
  }
=======
  width: 500px;
  background-color: red !important;
>>>>>>> parent of f262704 (UISwiper component props 수정 중)
}


// UISwiper.Box slide bgColor
.ui-swiper-red {
  background-color: red !important;
}
