.checkList {
  li {
    position: relative;
    font-size: 20px;
    margin-top: 12px;
    padding-left: 24px;
    &:first-child {
      margin-top: 0;
    }
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../../assets/images/icons/ico-check-blue.png');
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
    }
  }
}

.circleList {
  li {
    display: flex;
    margin-bottom: 16px;
    span {
      display: inline-block;
      // width: 55px;
      // height: 55px;
      padding: 18px 8px;
      border-radius: 50%;
      background-color: #FFF302;
      text-align: center;
      vertical-align: middle;
    }
    div {
      margin-left: 28px;
      display: block;
      max-width: 305px;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #111;
      padding: 24px 20px 24px 56px;
      border-radius: 24px;
      margin-bottom: 16px;
        h3 {}
        p {}

    }
    // position: relative;
    // &::before {
    //   position: absolute;
    //   content: "";
    //   display: inline-block;
    //   width: 10px;
    //   height: 10px;
    //   background-color: yellow;
    // }
  }
}


.ui-textList-type1 {
  background: #BEBADA;
}