//  variant
.checkList {
  li {
    position: relative;
    // font-size: 20px;
    margin-top: 12px;
    padding-left: 24px;
    &:first-child {
      margin-top: 0;
    }
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../../assets/images/icons/ico-check-blue.png");
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
    }
  }
}

.circleList {
  li {
    display: flex;
    margin-bottom: 16px;
    span {
      display: inline-block;
      padding: 18px 8px;
      border-radius: 50%;
      background-color: #fff302;
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      font-family: "tenada";
      max-height: 55px;
      max-width: 55px;
      box-sizing: border-box;
      line-height: 22px;
    }
    div {
      margin-left: 28px;
      display: block;
      max-width: 305px;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #111;
      padding: 24px 20px 24px 56px;
      border-radius: 24px;
      margin-bottom: 16px;
      h3 {
        font-size: 16px;
      }
      p {
        margin-top: 12px;
        font-size: 12px;
        color: #666;
      }
    }
    // position: relative;
    // &::before {
    //   position: absolute;
    //   content: "";
    //   display: inline-block;
    //   width: 10px;
    //   height: 10px;
    //   background-color: yellow;
    // }
  }
}

// size
.ui-textList-sm {
  font-size: 16px !important;
  line-height: 18px;
}
.ui-textList-md {
  font-size: 20px !important;
  line-height: 22px;
}

.ui-nested {
  & > li > span {
    color: white;
    padding-left: 12px;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      background-image: url("../../assets/images/icons/ico-check-wh.png");
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
      position: absolute;
      top: 0;
      left: -16px;
    }

    & + ul {
      li {
        span {
          color: pink;
        }
      }
    }
  }
}
.ui-nested > li > span + ul > li > span {
  // color: #fff302;
}

.firstLevelList > li {
  background-color: #f0f0f0; /* 첫 번째 리스트 배경색 */
}

/* 중첩 리스트 스타일 */
.nestedList > li {
  background-color: #e0e0e0; /* 중첩 리스트 배경색 */
  margin-left: 16px; /* 중첩 리스트 여백 */
}
