// 텍스트 그라디언트
.gradient-text {
  // font-size: 4rem;
  // font-weight: 900;
  background: linear-gradient(
    270deg,
    #ff6ec7,
    #7873f5,
    #4ade80,
    #facc15,
    #f87171
  );
  background-size: 600% 600%; /* 그라데이션 반복 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 8s ease infinite;
  padding-top: 4px;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
