// sample
@function lighten($color, $amount) {
  @return lighten($color, $amount);
}

// px to rem
@function rem($px) {
  @return ($px / 16) + rem;
}

// helper class
/** margin **/
$margin-sizes: rem(4), rem(8), rem(12), rem(16), rem(20), rem(24), rem(28), rem(32), rem(36), 40px, 44px, 48px, 52px, 56px, 60px;
@each $size in $margin-sizes {
  .mt-#{index($margin-sizes, $size)} {
    margin-top: $size !important;
  }
  .mb-#{index($margin-sizes, $size)} {
    margin-bottom: $size !important;
  }
  .ml-#{index($margin-sizes, $size)} {
    margin-left: $size !important;
  }
  .mr-#{index($margin-sizes, $size)} {
    margin-right: $size !important;
  }
}