// sample
@function lighten($color, $amount) {
  @return lighten($color, $amount);
}

// px to rem
@function rem($px) {
  @return ($px / 16) + rem;
}

// helper class 4배수로 제작
/** margin **/
$margin-sizes: rem(4), rem(8), rem(12), rem(16), rem(20), rem(24), rem(28), rem(32), rem(36), rem(40), rem(44), rem(48), rem(52), rem(56), rem(60);
@each $size in $margin-sizes {
  .mt-#{index($margin-sizes, $size)} {
    margin-top: $size !important;
  }
  .mb-#{index($margin-sizes, $size)} {
    margin-bottom: $size !important;
  }
  .ml-#{index($margin-sizes, $size)} {
    margin-left: $size !important;
  }
  .mr-#{index($margin-sizes, $size)} {
    margin-right: $size !important;
  }
}

$padding-sizes: rem(4), rem(8), rem(12), rem(16), rem(20), rem(24), rem(28), rem(32), rem(36), rem(40), rem(44), rem(48), rem(52), rem(56), rem(60);
@each $size in $padding-sizes {
  .pt-#{index($padding-sizes, $size)} {
    padding-top: $size !important;
  }
  .pb-#{index($padding-sizes, $size)} {
    padding-bottom: $size !important;
  }
  .pl-#{index($padding-sizes, $size)} {
    padding-left: $size !important;
  }
  .pr-#{index($padding-sizes, $size)} {
    padding-right: $size !important;
  }
}