@import "../../styles/style.scss";

.ui-divider {
  display: inline-block;
}

/** variant **/
.ui-divider {
  &-type1{
    width: 100%;
    height: rem(4);
    background-color: #fff;
    opacity: 20%;
    margin: rem(60) 0;
  }
  &-type1{
    width: 100%;
    height: rem(4);
    background-color: #fff;
    opacity: 20%;
    margin: rem(60) 0;
  }
}
