@import "../../styles/style.scss";

.ui-acc-line {
  button {
    font-size: rem(24);
    font-weight: 700;
    color: #111111;
    text-align: left;
    font-size: rem(24);
  }
}
.accordion {
  button {
    padding: rem(24) 0;
    background: none;
  }
  > div {
    background: rgba(256,256,256,0.2);
    padding: rem(32);
  }
}