// .ui-banner-list {
//   width: 100%;
//   max-width: 305px;
//   border: 1px solid #111;
//   padding: 24px 20px;
//   border-radius: 24px;
// }

.ui-banner-type1 > div {background-color: #BEBADA;}
.ui-banner-type2 > div {background-color: #8ED3C7;}
.ui-banner-type3 > div {background-color: #FB8072;}
.ui-banner-type4 > div {background-color: #FDB462;}
.ui-banner-type5 > div {background-color: #BDEF73;}
.ui-banner-type6 > div {background-color: #7FB1D3;}

.bannerList {
  display: flex;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  span {
    
    display: inline-block;
    padding: 18px 8px;
    border-radius: 50%;
    background-color: #FFF302;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-family: "tenada";
    max-height: 55px;
    max-width: 55px;
    box-sizing: border-box;
    line-height: 22px;
  }
  div {
    margin-left: 28px;
    display: block;
    max-width: 305px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #111;
    padding: 24px 20px 24px 56px;
    border-radius: 24px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 12px;
    }
    p {
      font-size: 12px;
      color: #666;
    }
  }
}