.ui-banner-list {
  width: 100%;
  max-width: 305px;
  border: 1px solid #111;
  padding: 24px 20px;
  border-radius: 24px;
}

.ui-banner-type1 {background-color: #BEBADA;}
.ui-banner-type2 {background-color: #8ED3C7;}
.ui-banner-type3 {background-color: #FB8072;}
.ui-banner-type4 {background-color: #FDB462;}
.ui-banner-type5 {background-color: #BDEF73;}
.ui-banner-type6 {background-color: #7FB1D3;}

.bannerList {
  display: block;
  width: 100%;
  border: 1px solid #111;
  padding: 24px 20px;
  border-radius: 24px;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  p {
    font-size: 12px;
    color: #666;
  }
}