@import "../../styles/style.scss";

// .ui-banner-list {
//   width: 100%;
//   max-width: 305px;
//   border: 1px solid #111;
//   padding: toRem(24) toRem(24);
//   border-radius: toRem(24);
// }

.ui-banner-type1 > div {background-color: #BEBADA;}
.ui-banner-type2 > div {background-color: #8ED3C7;}
.ui-banner-type3 > div {background-color: #FB8072;}
.ui-banner-type4 > div {background-color: #FDB462;}
.ui-banner-type5 > div {background-color: #BDEF73;}
.ui-banner-type6 > div {background-color: #7FB1D3;}

.ui-banner-study div i {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: toRem(-52);
    background-image: url('../../assets/images/icons/ico-study.png');
    width: toRem(36);
    height: toRem(36);
    display: inline-block;
    background-size: toRem(36) toRem(36);
    background-repeat: no-repeat;
  }
}
.ui-banner-company div i {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: toRem(-52);
    background-image: url('../../assets/images/icons/ico-company.png');
    width: toRem(36);
    height: toRem(36);
    display: inline-block;
    background-size: toRem(36) toRem(36);
    background-repeat: no-repeat;
  }
}
.ui-banner-center{
  justify-content: center;
}
.bannerList {
  display: flex;
  margin-bottom: toRem(16);
  &:last-child {
    margin-bottom: 0;
  }
  span {
    display: inline-block;
    padding: toRem(18) toRem(8);
    border-radius: 50%;
    background-color: #FFF302;
    text-align: center;
    vertical-align: middle;
    font-size: toRem(16);
    font-family: "tenada";
    max-height: toRem(55);
    max-width: toRem(55);
    box-sizing: border-box;
    line-height: 22px;
  }
  div {
    margin-left: toRem(28);
    display: block;
    min-width: toRem(280);
    max-width: toRem(320);
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #111;
    padding: toRem(24) toRem(24) toRem(24) toRem(72);
    border-radius: toRem(24);
    margin-bottom: toRem(16);
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      font-size: toRem(16);
      margin-bottom: toRem(12);
      word-break: keep-all;
    }
    p {
      font-size: toRem(12);
      color: #666;
    }
  }
}

// 스크롤시에 리스트가 보이게 하는 애니메이션
.bannerList {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

/* show 클래스가 붙으면 보이도록 애니메이션 */
.show {
  opacity: 1;
  transform: translateY(0);
}

