@import "../../styles/utils/function";

.ui-box-article {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  padding: rem(120) 0;
}

// .ui-box-div {
//   & > div {background: red;}
// }

// align
.ui-box-left {
  text-align: left;
}
.ui-box-center {
  text-align: center !important;
}
.ui-box-right {
  text-align: right;
}


// jContent
.ui-box-space-between {
  justify-content: space-between;
}

// aItems
.ui-box-top {
  align-items: start;
}
.ui-box-middle {
  align-items: center;
}
.ui-box-bottom {
  align-items: end;
}

// variant
.ui-box-card {
  height: fit-content;
  background: #FFF302;
  border-radius: rem(24);
  display: inline-block; 
  width: 100%;
  max-width: 550px;
  padding: 60px 40px;
  box-sizing: border-box;
  text-align:left;
}

// scroll
.previewBox {
  width: 100%;
  height: 300px;
  // margin-right: rem(32);
  padding: rem(8);
  box-sizing: border-box;
  background-color: #111111;
  overflow: hidden;
  border-radius: rem(8);
  overflow-y: auto;
  scrollbar-gutter: stable;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  &:hover img{
    overflow-y: scroll;
    transform: scale(1.002);
    transition: 0.3s;
  }
  &:last-child{
    margin-right: 0;
  }
}

/***** 반응형 *****/ 

// display
@media (min-width: 320px) and (max-width: 767px) {
  .ui-box-article {
    padding: rem(100) 0;
  }
  .ui-box-div {
  }
  .ui-box-flex {
    display: block;
  }
  .ui-box-card {
    display: block;
    margin: 0 auto;
  }
  .previewBox {
    margin-top: rem(32);
  }
}

@media all and (min-width: 768px) {
  .ui-box-flex {
    display: flex;
  }

}