.ui-box {
  max-width: 1080px;
  width: 100%;
  margin: 0px auto;
}

.ui-box-content {
  padding: 80px 0;
}

.ui-box-flex {
  padding: 80px 0;
  display: flex;
}

.ui-box-left {
  text-align: left;
}

.ui-box-center {
  text-align: center;
}

.ui-box-right {
  text-align: right;
}