@import "../../styles/utils/function";

.ui-box-article {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  padding: rem(120) 0;
}

// .ui-box-div {
//   & > div {background: red;}
// }

// align
.ui-box-left {
  text-align: left;
}
.ui-box-center {
  text-align: center !important;
}
.ui-box-right {
  text-align: right;
}


// jContent
.ui-box-space-between {
  justify-content: space-between;
}

// aItems
.ui-box-top {
  align-items: start;
}
.ui-box-middle {
  align-items: center;
}
.ui-box-bottom {
  align-items: end;
}

// variant
.ui-box-card {
  height: fit-content;
  background: #FFF302;
  border-radius: rem(24);
  display: inline-block; 
  width: 100%;
  max-width: 550px;
  padding: 60px 40px;
  box-sizing: border-box;
  text-align:left;
}

/***** 반응형 *****/ 

// display
@media (min-width: 320px) and (max-width: 767px) {
  .ui-box-article {
    padding: rem(100) 0;
  }
  .ui-box-div {
  }
  .ui-box-flex {
    display: block;
  }
  .ui-box-card {
    display: block;
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) {
  .ui-box-flex {
    display: flex;
  }
}