.ui-box {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}

.ui-box-content {
  padding: 102px 0;
}

// align
.ui-box-left {
  text-align: left;
}
.ui-box-center {
  text-align: center !important;
}
.ui-box-right {
  text-align: right;
}

// display
.ui-box-flex {
  display: flex;
}

// jContent
.ui-box-jContent {
  justify-content: space-between;
}
